WindMill/Files/Windmill.txt
[{"id":"caa05905.355fa8","type":"ibmiot","name":"asd"},{"id":"955cb3e8.b5034","type":"ibmiot in","authentication":"quickstart","apiKey":"caa05905.355fa8","inputType":"evt","deviceId":"virtualdevice-107768341235143316935-default","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"x":178.20001220703125,"y":478.20001220703125,"z":"1819b48a.9d9fbb","wires":[["85e1dbea.8b83d8","ba55c08d.0bc158"]]},{"id":"9f8b28b9.d8163","type":"http in","name":"","url":"/record","method":"get","swaggerDoc":"","x":199.20001220703125,"y":202.20001220703125,"z":"1819b48a.9d9fbb","wires":[["29bc9faf.9bc5f8"]]},{"id":"1a2cba7b.ed26ee","type":"template","name":"","field":"payload","format":"handlebars","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\" />\n<title>Application</title>\n\n</head>\n\n<script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script> \n <script>\n window.onload =function(){\n     var targetrot= 0;\n     var currentrot= 0;\n     var targetRadius= 210;\n     var getData = function() {\n        $.get('/record', function(data) {\n            var rot= data.DIRECTION +\"deg\";\n            console.log(\"Direction:::\"+rot)\n            targetrot= data.DIRECTION;\n           \n            var top =Math.sin((targetrot* Math.PI/180.0)+Math.PI) * targetRadius +200;\n            var left =Math.cos((targetrot* Math.PI/180.0)+Math.PI) * targetRadius +500;\n            \n            var arrow = document.getElementById(\"image1\");\n            arrow.style.transform=\"rotate(\"+rot+\")\";\n            arrow.style['margin-top']=top + \"px\";\n            arrow.style['margin-left']=left + \"px\";\n        })\n     }\n     setInterval(getData , 6000);\n     getData();\n     setInterval(function() {\n           \n           \n            var t = targetrot % 360;\n            var c = currentrot % 360;\n            var num = targetrot-currentrot;\n            var num1= 360-t;\n            var factor;\n            if (num1>num)\n             factor = num * 0.05\n            else\n            factor = num1 * 0.05\n            currentrot += factor;\n            var crot = currentrot +\"deg\";\n            console.log(\"the direction of windmill:::\"+crot)\n            var wind = document.getElementById(\"image\");\n            wind.style.transform=\"rotate(\"+crot+\")\";\n            } , 500);\n    };\n \n </script>\n <header>\n<h1 align=\"center\">Optimized and  Predictive Wind Mill</h1>\n<h4 align=\"center\">Energy industry is continuously trying to improve the production of energy at lowest cost. Wind is common and renewable source of energy. With the global growth of wind energy industry, \nif we can optimize the the production of energy with Internet of things, we can optimize and increase the production of energy. One way we can optimize the \nproduction of energy is if we can predict the wind direction in advance and correspondingly change the direction of turbine. \nIn this application, we have implemented this idea to optimize energy production using the direction of wind. The wind mill turbine rotates according to the direction of wind detected by sensors.\nThe sensor data is generated by another applictaion <a href=\"https://virtualsensors.mybluemix.net/\">Virtual Sensor </a>.</h4> \n</header>\n \n<body id=\"index\">\n<div style= \"background:url(http://vargas.link/background.gif); background-repeat:no-repeat; background-size:100%; position: relative; height:600px\">\n\n<img id =\"image1\" src=\"http://vargas.link/arrows.png\" alt=\"direction\" align=\"center\" width=\"150\" height=\"150\" style= \"margin-top:200px;\n    margin-left:500px;  position:absolute;\"/>\n<img id =\"image\" src=\"http://vargas.link/windmill.png\" alt=\"map\"  border=\"0\" width=\"200\" height=\"200\" align=\"center\" style= \"margin-top: 200px;\n    margin-left:500px; position:absolute; z-index:10\"/>\n<img id =\"image2\" src=\"http://vargas.link/pillar.png\" alt=\"pillar\"  border=\"0\"  align=\"center\" height=\"300\" style= \"margin-top: 300px; z-index:1;\n    margin-left:592px; position:absolute;\"/>\n</div>\n\n</body>\n<footer align= \"center\">\n   To explore more, please visit <a href=\" https://console.ng.bluemix.net/\">IBM Bluemix </a>.\n   </footer>\n</html>","x":409.1999816894531,"y":342.20001220703125,"z":"1819b48a.9d9fbb","wires":[["9032d85f.baaa18"]]},{"id":"9032d85f.baaa18","type":"http response","name":"","x":674.199951171875,"y":357.20001220703125,"z":"1819b48a.9d9fbb","wires":[]},{"id":"2ecc70cf.05f758","type":"http in","name":"","url":"/app","method":"get","swaggerDoc":"","x":195.20001220703125,"y":340.20001220703125,"z":"1819b48a.9d9fbb","wires":[["1a2cba7b.ed26ee"]]},{"id":"85e1dbea.8b83d8","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":445.1999816894531,"y":561.2000122070312,"z":"1819b48a.9d9fbb","wires":[]},{"id":"ba55c08d.0bc158","type":"function","name":"","func":"msg.payload= {\n    SPEED: msg.payload.speed,\n    DIRECTION : msg.payload.direction,\n    TIME: msg.payload.time\n}\nreturn msg;","outputs":1,"noerr":0,"x":424.1999816894531,"y":479.20001220703125,"z":"1819b48a.9d9fbb","wires":[["faaa4653.ecb51","98aab802.40d1c"]]},{"id":"faaa4653.ecb51","type":"dashDB out","service":"dashDB-u9","table":"DASH103482.SHILPA","name":"","x":688.199951171875,"y":477.20001220703125,"z":"1819b48a.9d9fbb","wires":[]},{"id":"29bc9faf.9bc5f8","type":"dashDB in","service":"dashDB-u9","query":"Select * from DASH103482.SHILPA ORDER BY time DESC limit 1;","params":"","name":"","x":422.1999816894531,"y":202.1999969482422,"z":"1819b48a.9d9fbb","wires":[["d2b1e92a.51c13"]]},{"id":"d2b1e92a.51c13","type":"http response","name":"","x":677.199951171875,"y":201.1999969482422,"z":"1819b48a.9d9fbb","wires":[]},{"id":"98aab802.40d1c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":791.1999969482422,"y":561.1999969482422,"z":"1819b48a.9d9fbb","wires":[]}]